# =========================
# Atlasian Config
# =========================

# =========================
# Existing Environment
# =========================
ATLASSIAN_SITE="${ATLASSIAN_SITE:-https://xxx.atlassian.net}"
ATLASSIAN_EMAIL="${ATLASSIAN_EMAIL:-sample@gmail.com}"
ATLASSIAN_API_TOKEN="${ATLASSIAN_API_TOKEN:-xxxxxxxxx}"

# =========================
# Destination Environment
# =========================
NEXT_JIRA_URL="https://another-org.atlassian.net"
ASSETS_IMPORT_TOKEN="eyJhbGciOi..."
# マスク済みJSONが格納されているディレクトリ
MASKED_JSON_DIR="../assets/json_masked"
